/* Navbar */
.navbar-brand {
    font-family: Viga;
    font-size: 16px; /* berfungsi untuk mengganti font default menjadi font viga dengan ukuran size 32pixel */
}

.page {
    font-family: Viga;
    font-size: 30px;
    color: black;
    position: absolute;
    top: 150px;
    left: 110px;
}

.page1 {
    font-family: Viga;
    font-size: 30px;
    color: black;
    position: absolute;
    top: 190px;
    left: 150px;
}

.page2 {
    font-family: Viga;
    font-size: 30px;
    color: black;
    position: absolute;
    top: 230px;
    left: 150px;
}

.box1{
    margin-top: 50px;
    margin-left: 250px;
    width: fit-content;
    padding: 15px;
    border:solid 3px #303030;
    }

.box-text {
    font-family: Viga;
    font-size: 24px;
    text-align: justify;
}

span {
    font-family: Viga;
    font-size: 32px;
    text-align: justify;
    margin-left: 430px;
}

.footer {
    background-color: #4d4646;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-style {
    font-size:20px;
    color: white;
}

a {
    text-decoration: none;
}

a:hover, a:active {
    color: #ff9a00 ;
}   

/* Utility */
.tombol {
    text-transform: uppercase;
    border-radius: 20px;  /* berfungsi untuk membuat tombol "mulai" menjadi tidak begitu kotak */
}

/* Dekstop Version */
@media (min-width: 992px) {
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px; /* untuk merapihkan tombol tombol yang berada di navbar dan margin right 30pixel berfungsi untuk memberi jarak antara satu tombol dengan tombol yang lain */
    }

    .nav-link:hover {
        border-bottom: 3px solid #1751a1;
        margin-bottom: -3px; /* membuat garis biru setiap kali kurson melwati navbar dan -3pixel berfungsi agar ketika kursor diarahkan kesalah satu tombol maka tombol tersebut tidak akan turun*/
    }

}